<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Quiz App</title>
  <link rel="stylesheet" href="home.component.css" />
</head>
<body>
  <div class="container">
    <div class="logo">
      <span class="quiz">Quiz</span> <span class="app">app</span>
    </div>
    <h2>Testez vos connaissances !</h2>
    <p>Mettez-vous au défi avec des tests créés en fonction de vos choix.</p>
    <button class="start-btn">Commencer</button>
  </div>
</body>
</html>
